#header1 {
    color: DarkSlateBlue;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

body,
html {
    padding: 50px;
}

#origin {
    margin-right: 200px;
    margin-left: 200px;
}